.homePage{
    /* background-image: url(https://raw.githubusercontent.com/akatzav/NodeJSProject/main/src/images/home.jpg);
    background-repeat: no-repeat;*/
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; 
    background-color: #000;
    width: 100%; 
    position: absolute;
    bottom: 0;
    filter: grayscale(30%);
}

.section{
    display: flex;
}