body{
    background-image: url(https://raw.githubusercontent.com/akatzav/NodeJSProject/main/src/images/eiffel3.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
}

.homePage  {
    /*  */
}

.title {
    position: absolute;
    left: 40px;
    font-size: 100pt;
    font-family: "Dongle";
    margin-top: 150px;
}

.description {
    position: absolute;
    left: 40px;
    font-size: 65pt;
    font-family: "Dongle";
    margin-top: 150px;
}