.homePage{
    background-image: url(https://raw.githubusercontent.com/akatzav/NodeJSProject/main/src/images/eiffel8.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%; 
    overflow-y: scroll;
}

