.notFound {
    margin-top: 0;
    overflow-y: scroll;
    height: 100%;
    background-color: #FFEBCD;
}

.h1{
    color: red;
    font-size: 100px;
    font-family: 'dongle';
}

.p1{
    font-family: 'dongle';
    font-size: 70px;
    color: red;
    font-weight: bolder;
}