.signup{
    margin-top: 0;
    overflow-y: scroll;
    height: 100%;
    background-color: #FFEBCD;
}

.form{
    margin-top: 50px;
    margin-bottom: 110px;
}

.title{
    margin-top: 30px;
    font-size: 50px;
    font-family: "Dongle";
    color: #053505;
}

.label{
    color: #053505;
    font-weight: bold;
    bottom: 30px;
    padding-bottom: 100px;
    margin: 100px;
}
.input{
    height: 30px;
    border-radius: 10px;
    width: 200px;
}

.button{
    cursor: pointer;
    width: 200px;
    height: 30px;
    margin-top: 20px;
    background-color: #053505;
    color: #aa7c09;
    font-size: 30px;
    border-radius: 10px;
    font-family: 'dongle';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
