.title{
    font-family: Dongle;
    font-size: 190px;
    left:-360px;
    position: relative;
    color:#aa7c09;
    margin-left: 40px;
}

.description{
    font-family: Dongle;
    font-size: 100px;
    justify-content: left;
    padding-top: -510px;
    position: absolute;
    top: 280px;
    margin-bottom: 30px;
    left: 80px;
    color: #aa7c09;
}