
.ul {
    margin-top: 40px;
    list-style-type: none;
    display: flex;
}

.a {
    text-decoration: none;
    color:black;
    font-family: lato;
    font-size: 20px;
    padding: 15px;
    font-weight: bold;
    transition: transform .2s;
    margin-top: 300px;
    border: 1px solid rgb(8, 180, 233);
    background-color: rgb(8, 180, 233);
    border-radius: 10px;
    margin: 8px;
    padding: 8px;

}

.a:hover{
    color:red;
    cursor: pointer;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    
}

.NavBar .MobileNavigation {
    display: none;
}

@media (max-width:990px) {
    .NavBar .Navigation {
        display: none;
    }

    .NavBar .MobileNavigation {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .NavBar .MobileNavigation .Hamburder {
        cursor: pointer;
        position: fixed;
        z-index: 1;
        margin-top: 40px;
        position: absolute;
        right: 5%;
    }

    .NavBar nav .ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 2px;
        right: 0;
        width: 100%;
        background: #181818;
        border-top: 1px solid #a9927d;
    }

    .NavBar nav .ul li {
        padding-left: 15%;
    }

    .NavBar {
        opacity: 1;
    }

    .NavBar a {
        color: #fff;
    }

    .NavBar a:hover {
        border-bottom: none;
        color: #a9927d;
    }

}

.search {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    display: flex;
}

.icon {
    position: absolute;
    right: -20px;
    top: 7px;
    margin: -5px;
    width: 20px;
    height: 30px;
    cursor: pointer;
    color: rgb(8, 180, 233);
    font-weight: bold;
    
}

.icon:hover {
    color: aliceblue;
}

.section{
    position: absolute;
    right: 60px;
}