/* .navbar{
    position: absolute;
    top: 80px;

}

.navbar a{
    display: inline-block;
    width: 100px;
    padding: 10px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-family: lato;
    font-weight: bold;
    font-size: 22px;

}

.navbar a.active{
    color: #7FFF00;
}


.pointer{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #7FFF00;
    transform: translateX(55px);
    transition: transform 0.3s ease-in-out;
}


.navbar a:hover{
    color: #7FFF00;
    transition: color 0.3s ease-in-out;
}

.navbar a:nth-child(2):hover ~ .pointer{
    transform: translateX(180px);
}

.navbar a:nth-child(3):hover ~ .pointer {
    transform: translateX(305px);
}

.navbar a:nth-child(4):hover ~ .pointer {
    transform: translateX(415px);
} */

.NavBar{
    position: absolute;
    top: 55px;
    left: 300px;
}

.link{
    display: flex;
    display: inline-block;
    text-decoration: none;
    margin: 20px;
    color: aliceblue;
    border: 1px solid red;
    font-family: lato;
    font-size: 20px;
    padding: 10px;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 7px;
    transition: 0.4s ease-in-out !important;
}

.link:hover{
        transform: scale(1.5) !important;
        border: 1px solid #7FFF00;
}


.section{
    
    display: flex;
}


.section .name{
position: fixed;
    z-index: 1000;
    position: absolute;
    top: 37px;
    font-weight: 100 !important;
    font-size: 20px;
    color: aliceblue;
    left: 90px;
}

.icon{
    position: absolute;
    left: 50px;
}