.navbar{
    position: absolute;
    top: 80px;

}

.navbar a{
    display: inline-block;
    width: 100px;
    padding: 10px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-family: lato;
    font-weight: bold;
    font-size: 22px;

}

.navbar a.active{
    color: aqua;
}


.pointer{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: aqua;
    transform: translateX(55px);
    transition: transform 0.3s ease-in-out;
}


.navbar a:hover{
    color: aqua;
    transition: color 0.3s ease-in-out;
}

.navbar a:nth-child(2):hover ~ .pointer{
    transform: translateX(180px);
}

.navbar a:nth-child(3):hover ~ .pointer {
    transform: translateX(305px);
}

.navbar a:nth-child(4):hover ~ .pointer {
    transform: translateX(415px);
}

