.input {
    height: 25px;
    margin-bottom: 8px;
    width: 240px;
    border-radius: 15px;
    background-color: #000;
    border: 1px solid red;

}

.title {
    font-family: lato;
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
    top: 50px;
    text-shadow: 2px 3px 3px red;
}

.added {
    position: absolute;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    right: 45%;
    left: 450px;
}

.select {
    height: 30px;
    margin-bottom: 8px;
    width: 245px;
    border-radius: 15px;
    background-color: #000;
    border: 1px solid red;
    color: gray;
}

.button {
    width: 150px;
    border-radius: 15px;
    height: 30px;
    background-color: #000;
    border: 1px solid red;
    color: aliceblue;
    font-family: lato;
    font-size: 15px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}