.input {}

.title {
    font-family: lato;
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
    top: 50px;
}

.added {
    position: absolute;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    right: 45%;
}