.details{
    display: flex;
    justify-content: center;
    align-items: center;
    //background-color: rgb(8, 180, 233);
    margin-bottom: 0;
}

.details:hover{
    color:red;
    cursor: pointer;
}

.name{
    color:rgb(8, 180, 233);
    font-family: lato;
    font-size: 20px;
    margin-right: 25px;
}

.phone{
    color: rgb(8, 180, 233);
    font-family: lato;
    font-size: 20px;
    margin-right: 25px;
}

.email{
    color: rgb(8, 180, 233);
    font-family: lato;
    font-size: 20px;
}